h1 {color: pink; 
	text-align: left; 
	text-shadow: 2px 2px 5px blue; 
	font-family: Lucida Handwriting;
	font-size: 75px;
	
}
sub {color: yellow;
	text-align: left;
	font-family: Lucida Handwriting;
	font-size: 35px;
}
h2 {color: Blue;
	text-align: left;
	text-shadow: 2px 2px 5px pink;
	font-family: Lucida Handwriting;
	font-size: 55px;
}
h3 {color: purple;
	text-align: left;
	text-shadow: 2px 2px 5px red;
	font-family: Lucida Handwriting;
	font-size: 35px;
}
h4 {color: green;
	text-align: left;
	text-shadow: 2px 2px 5px red;
	font-family: Lucida Handwriting;
	font-size: 25px;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
#Contact { 
  background-color: #FFD700;
  padding: 10px;
  text-align: center;
  color: white;
}
#gallery {
background-color: #FFDAB9;
padding: 10px;
}
#home {
background-color: #40E0D0;
padding: 10px;
}
nav {
background-color: #40E0D0;
padding: 10px;
}